*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header{
    display: flex;
    flex-direction: column;
}
video{
    height:90vh;
    width: 100%;
}
.precio{
    display: flex;
    justify-content: space-between;
}
.navbar {
    background-color: #000;
}
.titulo{
    width: 100%;
}
.hit-the-floor {
    color: #fff;
    font-size: 5rem;
    font-family: Helvetica;
}

.hit-the-floor3 {
    margin-left: 1rem;
    color: #fff;
    font-size: 2rem;
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
}
header nav a{
    margin: 1rem;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: 1px white solid;
    color: #fff;
    font-size: 16px;
}
main{
    min-height: 130vh;
    border-bottom: 1px solid white;
}
.mainTop{
    border-top: #586859 4px solid;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: linear-gradient( to top,rgba(255, 255, 255, 0.878), rgba(255, 255, 255, 0.725) ), url("./assets/IMAGENES/fondo.jpg")
}
body{
    display: flex;
    flex-direction: column;
    background-size: cover;
    color: #000;
    background-image: linear-gradient( to top,rgba(255, 255, 255, 0.878), rgba(255, 255, 255, 0.725) ), url("./assets/IMAGENES/fondo.jpg")
}
.justify{
    display: flex;
    justify-content: space-between;
}
.contenedorinfo{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80vh;
    background-size: cover;
    background-position: -80% 14%;
    background-image: linear-gradient( to top,rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.114) ), url("./assets/IMAGENES/entrada2.jpg")
}
.contenedorinfo1{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: 30rem 0 0 0;
    background-image: linear-gradient( to top,rgba(255, 255, 255, 0.181), rgba(255, 255, 255, 0.252) ), url("./assets/IMAGENES/iglesia.jpg")

}
.info{
    text-align: justify;
    width: 560px;
    height: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #ffffffe8;
    margin-right: 4rem;

}
.tituloNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    color: #586859;
    font-size: 20px;
}
.direccion{
    color: #586859;
    font-size: 16px;
}
.titulocursiva{
    color: #586859;
    font-size: 23px;
}
.columnas{
    flex-direction: column;
    display: flex;
}

.textocursivo{
    font-weight: 200;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}
.contenedorcarrusel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
}
.contenedorgrupos{
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 1rem;
}
.direccion img{
    width: 30px;
    height: 30px;
}
.tituloNav h2{
    margin-bottom: 3rem;
}
.textoo{
    text-align: justify;
}
.carru-inicial{
    width: 66%;
}
.descripcion-inicial{
    width:  35%;
}
.columnas{
    width:  50%;
}
.carru-grupo{
    width:  40%;
    height: 400px;
}
.pequeno{
    text-align: center;
    text-transform:uppercase;
    justify-content: center;
    font-size: 26px;
}
.info1{
    text-align: justify;
    width: 560px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #ffffffd8;
    margin-right: 4rem;
    padding: 1rem;
}
.wt{
    width: 30px;
    height: 30px;
}
@media (min-width: 225px) and (max-width: 520px){
    .tituloNav h2 {
        font-size: 1.3rem;
    }
    
}
@media (min-width: 820px) and (max-width: 1500px){
    .columnas2 {
        display: none;
}
    
}
@media (min-width: 225px) and (max-width: 820px){
    .columnas2 {
        display:contents;
    }
    .columnas{
        display: none;
    }
    .nav{
        height: 1000px;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 50vh;
        
        }
    .info1{
        text-align: justify;
        width: 560px;
        height: 400px;
        display: flex;
        flex-direction: column;
        background-color: #ffffffd0;
        margin-right: 4rem;
        padding: 1rem;
        font-weight: 500 !important;
    }
    .hit-the-floor {
        font-size: 3rem;
    }
    .carru-inicial{
        width: 100%;
    }
    .descripcion-inicial{
        width:  90%;
    }
    .textoo{
        text-align: none;
    }
    .contenedorinfo{
        justify-content: center;
        align-items: center;
        height: 49vh;
        width: 100%;
    }
    .contenedorinfo1{
        justify-content: center;
        align-items: center;
        height: 60vh;
    
    }
    .columnas{
        width:  90%;
    }
    .carru-grupo{
        width:  96%;
    }
    .info{
        align-items: center;
        justify-content: center;
        text-align: justify;
        width: 94%;
        height: 340px;
        display: flex;
        margin: 10px;
    }
    .info1{
        align-items: center;
        justify-content: center;
        text-align: justify;
        width: 96%;
        height: 520px;
        display: flex;
        margin: 10px;
    }
    .pequeno{
        font-size: 1.3rem;
        text-align: center;
        margin-top: 1rem;
    }
    .footerbotton{
        flex-direction: column;
    }
    .centro{
        text-align: center;
    }
    .imgg{
        height: 400px;
        margin: 1rem 0;
    }
    .video{
        height:200px ;
        width: 100%;
    }
    .texto-fichas{
        font-size: 10px;
        margin: 0;
        width: 290px;
    }
    .rficha{
        width: 400px;
        padding:  0rem 1,4rem;
        background-color: #ffffffb0;
        border: 3px solid black;
        border-radius: 5px;
        margin: 10px 0;
        color: #fff;
        text-align: center;
        justify-content: center;
        padding: 5px;

    }
}

.tituloNav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0.4rem;
}

.fichas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fichas p{
    color: #000;
    margin-top: 40px;
    
}
.ficha1{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1.2rem;
    
}
.ficha2{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1.2rem;
}
.ficha3{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1.2rem;
}
.fichas img{
    width: 280px;
    height: 270px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.texto-fichas{
    flex-direction: column;
    text-align: justify;
}
#img-contenedor img {
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}
#img-contenedor:hover img {
    --escala: 1.2;
    cursor:pointer;
}
.imgg{
    height: 400px;
    box-shadow: 4px 2px 2px 1px rgba(3, 3, 3, 0.2);
}
.imgc{
    width: 260px;
    height: 250px;
    box-shadow: 4px 7px 2px 1px rgba(3, 3, 3, 0.2);
}
.rooms{
    background-image: linear-gradient( to top,rgba(15, 15, 15, 0.89), rgb(7, 7, 7) ), url("./assets/IMAGENES/fondo.jpg");
    flex-direction: column;
    background-size: cover;
    color: #fff;
}
.rficha{
    flex-wrap: wrap;
    
}
.roomimg{
    width: 260px;
    height: 250px;
    margin: 1rem;
    box-shadow: 4px 7px 2px 1px rgba(3, 3, 3, 0.2);
}
.video{
    height:800px ;
    width: 100%;
}
.fichas-rooms{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.texto-fichas{
    width: 500px;
}
.icono{
    height:25px ;
    width: 22px;
    margin: 8px;
}
.mainBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.mainBottom h2{
    margin: 1rem;
}
@media (min-width: 425px) and (max-width: 876px){
    .mainBottom h2{
        margin: 0.2rem;
    }
    .mainBottom {
        margin: 0 1rem 2rem 1rem;
    }
}


@media (min-width: 225px) and (max-width: 860px){
    footer{
        height: 7vh;
        gap:1rem;
    }
}
.logo{
    width: 150px;
    height: 150px;
}
.footerbotton{
    background-color: #6a786b;
    color: #000;
    width: 100%;
}
.footertop{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: end;
    padding: 1rem;
}
.cp .cp a{
    font-size: 10px;
    justify-content: center;
    align-content: center;
}
.cp{
    margin-top: 10.5px;
}
.cp a{
    color: #fff;
}
.btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    position: relative;
}
.btn::after {
    content: 'like';
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 100%;
}
.icon {
    width: 30px;
    height: 30px;
    transition: .2s linear;
}
.icon path {
    fill: rgb(0, 0, 0);
    transition: .2s linear;
}
.btn:hover > .icon {
    transform: scale(1.2);
}
.btn:hover > .icon path {
    fill: #586859;
}
.btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: 85%;
}
.frecuentes{
    flex-direction: column;
}
.accordion {
    color:green;
}
.preguntas{
    background-color: #79b17d5b;
}